@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #2e735f80;
  border: 1px solid #2e735f80;
  border-radius: 5px;
}
